<% form_for([form.post.user,form.post,form]) do |f| %>
<%= f.error_messages %>

  <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
  </div>





  <div>
    <%= f.submit 'Submit' %>
  </div>
<% end %>
