<% div_for(user_small) do %>

          <h1 class="title">    <%= user_small.name %>  </h1>
          <p class="byline">    <%= user_small.email %>  </p>
        <div class="post">
          <div class="entry">
            <p>Person description and a thank you TBD</p>
          </div>
          <div class="meta">
            <p class="links">

	      <%= link_to 'Edit Contact', edit_user_path(user_small) %>
	      <br />
	      <%= link_to "Information items (#{user_small.posts.count})", user_small %> 

	    </p>

          </div>
        </div>


<% end %>
