<hr />

<div id="right-column"> 
  <ul>
    <li>Again a thank you to Friends at Power Advocate http://www.poweradvocate.com/index.html for interviewing me yesterday</li>



    <li>
      "Rails", "Ruby on Rails", and the Rails logo are registered trademarks of David Heinemeier Hansson. All rights reserved.    Rails is released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>. Ruby under the <a href="http://www.ruby-lang.org/en/LICENSE.txt">Ruby License</a>.
    </li>

    <li>
      Graphics Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
    </li>
    
    <li>  <a href="http://gitrdoc.com/mislav/will_paginate/tree/master/">mislav-will_paginate </a>Copyright © 2007 PJ Hyett and Mislav Marohnić 
    </li>

    <li>
      <b>Goaloc</b> - <u>Generate On A Lot Of Crack</u> is a repl-based generator, intended to speed up the start of the rails... http://mattknox.com
    </li>

    <br />

    <li>  
      Copyright (c) <%=Time.now.strftime("%Y") %>  ACMMTPA. All rights reserved.  Developed by Charles Magid.
      <center>
	Developed with all open source tools
      </center>
    </li>


  </ul>
</div>

